<div class="form-group">
    <%= label_tag(:friend_friend_id, "Add friend:", class: "col-sm-2 control-label") %>
        <div class="col-sm-10">
            <%= text_field(:friend, :friend_id, class: "form-control", placeholder: "e-mail") %>
        </div>
</div>