@import "bootstrap-sprockets";
@import "bootstrap";
html {
    min-height: 100%;
}
.clearfix {
    clear: both;
    margin-top: 50px;
}
.auth {
    float: right;
    line-height: 50px;
    span {
        color: aliceblue;
    }
}
body {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(/Layer-1.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2,
h3,
dt,
dd,
p,
label {
    color: aliceblue;
}

.con {
    padding: 20px;
    background: rgba(0,0,0,0.2);
    min-height: 80% !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.conf {
    margin-top: -11px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.fir {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}
.task {
  border: solid 1px #fff;
  margin: 5px;
  background-color: rgba(33, 33, 33, 0.5);
  height: 140px;
  display: block;
}
.form-group {
  clear: both;
  padding-bottom: 40px;
}
.profile-photo {
  width: 100%;
  border-radius: 5%;
}
.nav-image {
  height:40px;
  border-radius: 10%;
}
.new {
  background: rgba(69, 199, 52, 0.5) !important;
}
